configuration {
    font: "BlexMono Nerd Font 12";
    show-icons: true;
    icon-theme: "Papirus"; /* Change to your installed icon pack */
    
    /* Clean up the window display */
    disable-history: false;
    sidebar-mode: false;
}
@theme "default"
